.container{
    text-align: center;
}

#myCanvas {
    width: 200px;
    height: 100px;
    margin: 20px auto;
    border: solid 1px black;
    box-shadow: 0 0 5px #555;
}

#myImg {
    display: none;
}